.heading{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;

}
.heading_{
    height: 30px;

}

.cardheaders Col{
    font-size: 10px;
}
.header{
    font-size: 14px;
    letter-spacing: .1em;
}
.data{
    font-size: 11px;
   
}
.cards{
    height: 18px;
    border: none;
}



